<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - ViewModelTableFormation</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/ViewModelTableFormation.styles.css" asp-append-version="true" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />

</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
			<div class="container-fluid">
				<a class="navbar-brand d-flex" asp-area="" asp-controller="Home" asp-action="Index">
					<img src="~/images/logo.png" width="80" height="80" class="d-inline-block align-top ms-4" alt="">
					<div class="ms-3 mt-2 fs-1">
						UCSIT
					</div>
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1 justify-content-center gap-5 fs-5">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						@if (User.IsInRole("Admin"))
						{
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Index">Student</a>
							</li>


							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="Index">Teacher</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Faculty" asp-action="Index">Faculty</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="Index">Course</a>
							</li>
						}
					</ul>
					<div class="fs-5">
						<partial name="_LoginPartial" />
					</div>
				</div>
			</div>
		</nav>


	</header>
	<div class="containe">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2024 - ViewModelTableFormation - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script>
		$(document).ready(function () {
			var successMessage = '@Html.Raw(TempData["SuccessMessage"] ?? "")';
			var errorMessage = '@Html.Raw(TempData["ErrorMessage"] ?? "")';

			if (successMessage) {
				toastr.success(successMessage);
			}

			if (errorMessage) {
				toastr.error(errorMessage);
			}
		});
	</script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
