@{
    ViewData["Title"] = "Home Page";
}

<div class="main_page">
 
    <img src="~/images/joyful-school-dismissal-stockcake.jpg" alt="image" style="width:100% " />
<div class="text-center text-white centered">
    <h1 class="display-4 fw-bolder">GET READY </h1>
    <p class=" display-4 mini_para fw-bold">TO IGNITE YOUR POTENTIAL</p>
</div>

</div>

<div class="container d-flex flex-column justify-content-center">
    <div>
    <h2 class="mt-5 fw-bolder fs-1">What we Offer?</h2>
    <p>Unlock your potential with world-class education and personalized learning experiences at Valley View School. Join a community where academic excellence meets real-world success, and discover your passion with our cutting-edge programs and dedicated faculty.</p>
    </div>
    <div class="about_us">
        <h2>About Us</h2>
        <p class="fs-1 fw-bold">Valley View School</p>
        <p class="fs-4" style="color:#5F6061">
            At Valley View School, Students in primary and secondary programs undertake a demanding curriculum intended to prepare them for pursing higher studies, which uniquely combines the curriculum in line of the government of Nepal and special learning experiences. Teachers are always at vigilance to help students during and after their class. The special learning experiences include varieties of activities to be pursued as per the individual choices.

            At Valley View, children from two-and-a-half-year on wards are enrolled and taught in Montessori system. Such environment helps them become less dependent in a safe, warm and stable environment where they acquire the skills to “do things by self".
         </p>
         <button class="btn btn-primary">Read More</button>

    </div>
    <div class="row our_programs">
        <h2>Our Programs</h2>
        <div class="card col-lg-4 mx-3" style="width: 25rem;">
            <img class="card-img-top" src="~/images/home.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Montessori program for beginners introduces two-and-a-half-year old children .to their first social experience beyond the family. Such an environment helps them become less dependent in a safe, warm and stable environment where they acquire the skills to "do things by oneself"..</p>
            </div>
        </div>
  
    <div class="card col-lg-4 mx-3" style="width: 24rem;">
        <img class="card-img-top" src="~/images/home.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">The school provides 'A' grade- education based on standard curriculum, consistent with the individual academic capabilities and personal and social needs of each student.</p>
        </div>
    </div>
    <div class="card col-lg-4 mx-3" style="width: 25rem;">
        <img class="card-img-top" src="~/images/home.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Students in secondary program undertake a demanding curriculum intended to prepare them for pursuing higher studies, which uniquely combines the curriculum in line of the government of Nepal and special learning experiences.</p>
        </div>
    </div>
    </div>

    <div class="facilities">
        <h2>Our Facilities</h2>

    </div>
</div>
    <div class="Footer">
        <footer class="footer_custom">
            <div class="container">
                <div class="row">
                    <!-- About Us -->
                    <div class="col-md-4">
                        <h5>ABOUT US</h5>
                        <p>At Valley View School, Students in primary and secondary programs undertake a demanding curriculum intended to prepare them for pursuing higher studies, which uniquely combines the curriculum in line with the government of Nepal and special learning experiences. Teachers are always at vigilance to help students during and after their class.</p>
                    </div>

                    <!-- Quick Links -->
                    <div class="col-md-4">
                    <h5>QUICK LINKS</h5>
                    <a href="#" class="text-white">News</a><br>
                    <a href="#" class="text-white">FAQ</a><br>
                    <a href="#" class="text-white">Contact Us</a><br>
                    <a href="#" class="text-white">Gallery</a><br>
                    <a href="#" class="text-white">Register Online</a><br>
                    <a href="#" class="text-white">About Us</a>
                    </div>

                    <!-- Contact Us -->
                    <div class="col-md-4">
                        <h5>CONTACT US</h5>
                        <p>Valley View School</p>
                        <p>01-4573693, 4588312, 4574600</p>
                        <p>info@valleyview.edu.np</p>
                        <p>Mid Baneshwor, Kathmandu, Nepal<br>P. O. Box No. 24855</p>
                        <div class="social-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>


